<div class="container my-8 w-lg-50 mx-auto">
    <div class="">
        <h2 class="fw-bold" data-kt-calendar="title">Add a New Leave</h2>

        <form #leaveForm="ngForm" class="form fv-plugins-bootstrap5 fv-plugins-framework" id="modal_add_event_form" (ngSubmit)="onSubmit(leaveForm)">
            <div class="modal-body py-10">
                <div class="fv-row mb-9 fv-plugins-icon-container">
                    <label class="fs-6 fw-semibold required mb-2">Name</label>
                    <input type="text" class="form-control" placeholder="Name" name="name" #name="ngModel" ngModel required>
                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                    </div>
                </div>

                <div class="fv-row mb-9 fv-plugins-icon-container">
                    <label class="fs-6 fw-semibold required mb-2">Leave Type</label>
                    <select class="form-select" name="leave_type" ngModel required #leave_type="ngModel">
                        <option *ngFor="let option of leaveTypes" [value]="option.value">{{ option.label }}</option>
                    </select>
                </div>

                <div class="fv-row mb-9 fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
                    <label class="fs-6 fw-semibold mb-2 required">From Date</label>
                    <input class="form-control flatpickr-input" name="from_date"
                        placeholder="Pick a start date" id="from_date" type="date" #from_date="ngModel" ngModel required>
                </div>

                <div class="fv-row mb-9 fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
                    <label class="fs-6 fw-semibold mb-2 required">To Date</label>
                    <input class="form-control flatpickr-input" name="to_date"
                        placeholder="Pick a end date" id="to_date" type="date" #to_date="ngModel" ngModel required>
                </div>

                <div class="fv-row mb-9 fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
                    <label class="fs-6 fw-semibold mb-2 required">Description</label>
                    <input type="text" class="form-control" placeholder="Description" name="reason" #reason="ngModel" ngModel required>
                </div>

                <div class="fv-row mb-9 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="NotFixed" name="not_fixed" #not_fixed="ngModel" ngModel />
                    <label class="form-check-label" for="NotFixed">
                        Not Fixed
                    </label>
                </div>
            </div>

            <a id="modal_add_event_cancel" class="btn btn-light me-3" routerLink="./calendar">
                Cancel
            </a>

            <button type="submit" id="kt_modal_add_event_submit" class="btn btn-primary">
                <span class="indicator-label">
                    Submit
                </span>
                <span class="indicator-progress">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </form>
    </div>
</div>